body {
  background-color: #F4F8FF;
  color: #262428;
  font-size: 16px;
  text-align: left;
  line-height: 1.5em;
  font-family: 'Avenir Next', Helvetica;
}

nav {
  background-color: rgba(90,90,90,1);
  float: left;
  position: fixed;
  width: 100%;
}

/*** Below are contents within the Container ***/

/*** Main Title and Caption ***/

h1 {
  font-size: 2.5em;
  font-weight: 500;
  color: #F25300;
  line-height: 2em;
  margin-bottom: 6px;
  margin-top: 0px;
}

h3 {
  font-size: 1.17em;
  line-height: 1.17em;
  margin-bottom: 16px;
}

/*** Image ***/

figure {
  display: block;
  margin: auto;
  text-align: center;
}

figcaption {
  font-size: 15px;
}

figcaption, .author {
  font-style: italic;
}

.author {
  font-size: 100%;
  margin-bottom: 20px;
}

.container {
  margin: 0 auto;
  width: 85%;
  display: inline-block;
  margin-left: 110px;
  margin-top: 50px;
  padding-top: 60px;

}

.story-text {
  font-size: 1.17em;
  line-height: 1.4em;
  max-width: 100%;
  padding-top: 16px;
}

/*** Other Adjustments ***/

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 70%;
}

.medium-pic {
  width: 40%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

/*** Links ***/

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a {
  text-decoration: none;
}

a:link { color:#FFFFFF; } /* unvisited */
a:visited { color:#0070BA; } /* visited */
a:hover { color:#FF7A00; } /* mouse over */
a:active { color:#0070BD; } /* selected */
